.catalog-filter {
    display: grid;
    row-gap: 32px;

    @media #{$not-mobile} {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 40px;
    }

    @media #{$desktop-only} {
        grid-template-columns: 1fr;
        column-gap: 30px;
        row-gap: 30px;
        grid-auto-rows: max-content;
    }

    &__fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }

    &__legend {
        margin-bottom: 20px;
    }

    &__buttons-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media #{$not-mobile} {
            grid-column: 1 / -1;
            grid-row: 2 / 3;
            justify-self: center;
            flex-direction: row;
        }

        @media #{$desktop-only} {
            grid-column: unset;
            grid-row: 4 / 5;
            justify-self: center;
            flex-direction: row;
            margin-top: 10px;
        }
    }

    &__button {
        width: 280px;

        @media #{$not-mobile} {
            column-gap: 30px;
            width: unset;
            min-width: 120px;
            max-width: 300px;
        }

        @media #{$not-mobile} {
            column-gap: 30px;
            width: unset;
            min-width: 149px;
            max-width: 200px;
        }
    }
}
