.catalog-sort {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media #{$not-mobile} {
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
    }

    &__title {
        margin: 0;
        padding: 0;
    }

    &__select {
        width: 155px;
        height: 32px;
        display: inline-block;
        appearance: none;
        border: none;
        box-shadow: none;
        background: none;
        color: #7859CF;
        text-align: right;
        font-size: 16px;
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        padding-right: 30px;
    }
}
