.features {

    &__list {

        @media #{$tablet-only} {
            margin-left: 10px;
        }
    }
}


.features__title.features__title {
    text-align: center;
    margin-bottom: 36px;

    @media #{$not-mobile} {
        margin-bottom: 60px;
    }

    @media #{$desktop-only} {
        margin-bottom: 80px;
    }
}


.features__heading.features__heading {
    text-align: center;
    margin-bottom: 4px;
}