.features-list {
    display: grid;
    grid-template-columns: 1fr;

	@media #{$not-mobile} {
		grid-template-columns: 1fr 1fr;
	}

    @media #{$desktop-only} {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

    &__item {
    }
}