.feature {

    &__title {
        &::before {
            position: relative;
            display: block;
            content: "";
            width: 52px;
            height: 56px;
            background: url("/img/icons/stack.svg#watch") no-repeat center / contain;
        }

        &--second {
            &::before {
                background: url("/img/icons/stack.svg#pocket") no-repeat center / contain;
            }
        }

        &--third {
            &::before {
                background: url("/img/icons/stack.svg#lightning") no-repeat center / contain;
            }
        }

        &--fourth {
            &::before {
                background: url("/img/icons/stack.svg#leaf") no-repeat center / contain;
            }
        }
    }

    &__text {
    }
}