$breakpoint-tablet: 768 * 1px;
$breakpoint-desktop: 1280 * 1px; //нужно помнить, тут отступы отличаются, возможно стоит изменить
$breakpoint-gap: 0.1px;

$mobile-only: "(max-width: #{$breakpoint-tablet - $breakpoint-gap})";
$tablet-only: "(min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - $breakpoint-gap})";
$desktop-only: "(min-width: #{$breakpoint-desktop})";
$not-mobile: "(min-width: #{$breakpoint-tablet})";
$not-desktop: "(max-width: #{$breakpoint-desktop - $breakpoint-gap})";
